# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
VAE/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE configurations
.vscode/
.idea/

# Ignore environment variables
.env

# Ignore logs and caches
*.log

#Large test data
Beat_Seperation/Test_Data/